#ordersContainer {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  background: #f8f8f8;
  min-height: 70vh;
  opacity: 87%;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.dataCardContainer {
  display: flex;
  justify-content: space-evenly;
}
