@import './ordersPage.css';
@import './dataCard.css';
@import './orderDetails.css';
@import './billingDetails.css';

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/admin_panel_bg.jpg_large') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
}

#homeButton {
  cursor: pointer;
}

#loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17vh;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 20px;
  opacity: 90%;
}

#crestLogo {
  height: 80px;
}

#loginHeading {
  padding-top: 0px;
  margin-top: 13px;
  height: 3px;
}

#subheadingContainer {
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginSubheading {
  color: rgb(116, 116, 116);
  font-weight: 400;
  height: 45px;
}

#loginButton {
  margin-top: 8px;
  background-color: #ad2525;
}

#navContainer {
  background: white;
  margin: 0;
  padding: 11px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#notsLogo {
  width: 80px;
}

.tableName {
  padding-top: 30px;
  text-decoration: underline;
}

#searchForm {
  margin-top: 20px;
  padding-right: 120px;
}

#dashboardContainer {
  margin-top: 30px;
  margin-bottom: 40px;
}

#groupedButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#groupedButtonsBackgound {
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 7px;
}

#table {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  background: #fefefe;
  min-height: 70vh;
  opacity: 87%;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.entryContainer {
  position: relative;
}

.deleteWrapper {
  position: relative;
}

.deleteIcon {
  width: 14px;
  position: absolute;
  left: -26px;
  top: 18px;
  cursor: pointer;
}

#entryHeadersWrapper {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 0.75fr 0.5fr 0.5fr;
  padding-left: 5px;
  border-bottom: #cccccc solid 0.5px;
}

#tableHeadContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

#tableHeading {
  margin-left: 10px;
}

#refreshButton {
  height: 20px;
  cursor: pointer;
}

#refreshButton:active {
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
}

#entryWrapper {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 0.75fr 0.5fr 0.5fr;
}

.entryBox {
  border-bottom: #cccccc solid 0.5px;
  border-top: 0;
}

.dataEntry {
  margin-left: 10px;
}

#customersButton {
  background-color: #ad2525;
  border: #cccccc solid 0.2px;
}

#ordersButton {
  background-color: white;
  color: #ad2525;
  border: #cccccc solid 0.2px;
}

#overviewButton {
  border: #cccccc solid 0.2px;
}

.loadingProgressWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}
